:root {
    --color-blue: #277DD8;
    --color-magenta: #D827D5;
    --color-orange: #D88227;
    --color-green: #27D82A;
    --color-light-orange: #fdeddb;
    --color-dark-blue: #15406e;
}

/*---------------------
   styling
---------------------*/

body { 
    font-family: Arial, Helvetica, sans-serif;
    transition: all 500ms ease-in-out;
    background-color: var(--color-light-orange);
}

h1 {
    font-size: 50px;
    font-weight: 1000;
    letter-spacing: 2px;
    color: var(--color-blue);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.name-header {
    font-size: 30px;
    font-weight: 1000;
}

.player-header {
    font-size: 50px;
    font-weight: 1000;
    padding: 0 10px;
}

label[for="X"] {
    color: var(--color-green);
}

label[for="O"] {
    color: var(--color-magenta);
}

.fade-in {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.fade-out {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;

    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.player-input {
    height: 30px;
    width: 300px;
    border: 2px solid var(--color-dark-blue);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
}

input:focus,
button:focus {
    outline: none;
    box-shadow: 0px 0px 3px 1px var(--color-dark-blue);
}

button {
    background-color: var(--color-blue);
    border: 2px solid var(--color-dark-blue);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 3px 1px var(--color-dark-blue);
    transition: all 500ms ease-in-out;
}

button:hover{
    background-color: var(--color-dark-blue)
}

button:active {
    transform: scale(.95);
}

.board-space {
    font-size: 160px;
}

.game-marker {
    font-size: 160px;
    font-family:Arial, Helvetica, sans-serif;
}

.play-again {
    position: relative;
    bottom: 360px;
    width: 120px;
    -webkit-animation: zoomIn 1s;
    animation: zoomIn 1s;
    animation-fill-mode: forwards;
}

.winner-message {
    font-size: 70px;
    font-weight: 800;
}

/*--------------------- 
    layout
---------------------*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0 16px;
    width: 622px;
}

.header-header {
    margin: 0 0 10px 0;
}

.player-selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 133px;
}

.player-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.opponent-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
    width: 311px;
    height: 133px;
}

.opponent-o {
    color: var(--color-magenta);
}

.opponent-header {
    margin-bottom: 20px;
}

.second-group {
    display: none
}

.player-group,
.player-name {
    width: 311px;
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-button {
    margin-top: 15px;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#board { /* need to account for padding and borders */
    height: 620px;
    width: 622px;
    padding: 10px;
    display: none;
    flex-wrap: wrap;
}

.board-space {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top {
    border-top: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.game-marker {
    padding: 30px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
}

.winner-message {
    position: relative;
    bottom: 400px;
    color: var(--color-blue);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/*---------------------
   animations
---------------------*/

.blur > *:not(footer) {
    transition: all 500ms ease-in-out;
    filter: blur(3px);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
      height: 133px;
    }
    to {
      opacity: 0;
      height: 58px;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2.2);
    }
}

@-webkit-keyframes zoomIn{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2.2);
    }
}

/*---------------------
   media transition: width 2s;
---------------------*/

@media only screen and (max-width: 800px) {
    header {
        justify-content: center;
        width: 90%;
    }
    
    .header-header {
        text-align: center;
        margin: 0;
    }
    
    .player-group {
        transition: all 1s;
    }

    .player-selection {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .player-name {
        transition: all 1s;
    }

    #board {
        height: 320px;
        width: 322px;
    }

    .board-space {
        height: 100px;
        width: 100px;
        font-size: 80px;
    }

    .winner-message {
        font-size: 35px;
        bottom: 300px;
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }

    .play-again {
        font-size: 16px;
        padding-top: 3px;
        bottom: 260px;
    }
}